include ../button/button.jade

mixin main-slider__item(img, title)
	.main-slider__item
		.main-slider__item-image
			img(src=img, alt=title)

		.main-slider__item-description
			span Мастер-класс
			h2.title= title
			span 16 ноября 2016 года

			.main-slider__item-buttons
				.container
					.row
						.col-lg-4.col-lg-offset-4
							+button("Регистрация", "outline")
							+button("Стать резидентом", "")

mixin main-slider()
	.main-slider#mainSlider
		+main-slider__item("img/photos/slider/1.jpg", '"Конкурс на образовательную стипендию для одаренного школьника"')
		+main-slider__item("img/photos/slider/2.jpg", '"Современная каллиграфия"')
		+main-slider__item("img/photos/slider/3.jpeg", '"Управление проектами"')
		+main-slider__item("img/photos/slider/4.jpg", '"Управление проектами"')