include ../menu/menu

mixin header__logo(src)
	.header__logo
		a(href="/#1"): img(src=src, alt="Пери Инновации")

mixin header()

	.header
		.container
			.row
				.header__content
					+header__logo("img/logo.png")
					+menu({"Инкубатор":"2", "Мероприятия":"3", "Резиденты":"4", "Контакты":"5"})
