header
	position fixed
	top 0
	left 0
	width 100%
	z-index 1000

.header
	background transparent
	padding 1.4rem 0
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	align-items center
	justify-content space-between
	
	&__logo
		display inline-block
		vertical-align middle
		
		img
			display inline-block
			max-width 100%