include ../main-slider/main-slider
include ../main-inc/main-inc
include ../main-events/main-events
include ../main-residents/main-residents
include ../main-contact/main-contact


//- Slider section
mixin section-index()
	section.sect-main#index
		+main-slider()


//- Incubator info
mixin section-incubator()
	section.sect-main#incubator
		+main-inc()


//- Events section
mixin section-events()
	section.sect-main#events
		+main-events()


//- Резиденты
mixin section-residents()
	section.sect-main#residents
		+main-residents()



//- Контакты
mixin section-contact()
	section.sect-main#contact
		+main-contact()