@keyframes preloadImg {
	0% {
		opacity 0
		border 1px solid rgba(#fff,10%)
		border-bottom none
		transform rotate(0deg)
	}

	50% {
		opacity 1
		border 1px solid #fff
		border-bottom none
	}

	100% {
		opacity 0
		border 1px solid rgba(#fff,10%)
		border-bottom none
		transform rotate(1480deg)
	}
}

.preloader
	position fixed
	width 100%
	height 100%
	z-index 9999
	display flex
	align-items center
	justify-content center

	img
		animation preloadImg 2s infinite

	&::after
		content ''
		position absolute
		display block
		top 50%
		left 50%
		margin-top -100px
		margin-left -100px
		width 200px
		height 100px
		border-radius 100px 100px 0 0
		transform-origin 50% 100%
		animation-timing-function cubic-bezier(.8,.2,.2,.8)
		animation preloadImg 1s infinite
