include ../blocks/preloader/preloader.jade

<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	meta(name="keywords" content="")
	meta(name="description" content="")

	meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

	link(rel="stylesheet", href="css/preloader.css")
	link(rel="stylesheet", href="css/libs.css")
	link(rel="stylesheet", href="css/main.css")
		
	block title
		title Пери инновации

body
	.preloader(style="background: rgb(195,13,32) url('img/logo.png') no-repeat center;")

	block content

	script(src="js/libs.js")
	script(src="js/scripts.js")
	