nav
    display inline-block
    vertical-align middle

.onepage-pagination
    display inline-block
    vertical-align middle
    z-index 1000
    
.menu
    display inline-block
    vertical-align middle
    z-index 1000

    +xs()
        display none
        text-align left
        width 100%
        padding-left 2rem

    li
        display inline-block
        margin-right 2rem

        +xs()
            margin-right 1rem
            margin-bottom .5rem

        +below(330px)
            margin-bottom .2rem

        &:last-of-type
            margin-right 0

    &__link
        font-size 1rem
        color #fff
        font-weight 300
        cursor pointer

        +xs()
            font-size 1rem
            font-weight 500

        +below(330px)
            font-size .75rem
            font-weight 100

        &:not(&--active)::after
            content ''
            display inline-block
            position absolute
            width 0%
            height 2px
            background #fff
            bottom -8px
            left 0
            animation underlineOut 1s
            animation-timing-function cubic-bezier(.8,0,.2,1)


        &--active::after
            content ''
            display inline-block
            position absolute
            width 100%
            height 2px
            background #fff
            bottom -8px
            left 0
            animation underlineIn 1s
            animation-timing-function cubic-bezier(.8,0,.2,1)


.mobile-menu
    position fixed
    width 70%
    height 100vh
    padding 1.5rem
    z-index 9000
    top 0
    right -70%
    background #212020
    box-shadow -220px 0px 0px transparent, -18px 0 50px transparent
    display none
    transition all .6s cubic-bezier(.8,0,.2,1)
    
    +xs()
        display block
        
    &.active
        right 0
        box-shadow -220px 0px 0px rgba(0,0,0,.5), -18px 0 50px rgba(0,0,0,.5)
    
    &__link
        font-size 25px
        color #fff
        line-height 2.4
        font-weight 100
        
    &__burger
        position absolute
        width 54px
        height 54px
        background url('../img/icons/burger.png') no-repeat center
        top 14px
        left -64px
        cursor pointer
        transition all .6s cubic-bezier(.8,0,.2,1)
        z-index 5
        
        &.active
            left 16px
            background url('../img/icons/close-mobile-menu.png') no-repeat center
        
