- var mainMenu = ["Main page", "Articles", "Contacts"]

//- Block
mixin menu(mutation)

	//- Mutation
	- var p = m === undefined ? '' : '--' + m;



	//- Elements
	mixin link(data, em)
		//- Mutation
		- var ep = em === undefined ? '' : '--' + em;

		li(class="menu#{p}__link#{ep}"): a(href="")= data



	//- Body
	div(class='menu#{p}')
		ul
			each item in mainMenu
				+link(item)
