include ../blocks/header/header
include ../blocks/sect-main/sect-main
include ../blocks/tabber/tabber
include ../blocks/slide-arrow/slide-arrow
include ../blocks/mentor/mentor
include ../blocks/teammate/teammate
include ../blocks/footer/footer 
include ../blocks/faq/faq 

include ../helpers/page_elements

extends ../layouts/main


block title
	title Инкубатор | Пери Инновации

block content

	+header('incubator')
	+sect-header('img/heading/main-residents.jpg')

	.inner-tabs
		.container
			.row
				.col-md-12.col-xs-12
					+tabber-tabs(['Партнеры', 'Команда', 'Менторы', 'FAQ'])
		
					.tabber__content

						//- Партнеры
						+tabber-panel()
							.partners__container
								for image in ['frii','sup','oasis','sk','fppi']
									- var src = 'img/partners/' + image + '.jpg';
									.partners__item: img(src=src, alt=image)


						//- Команда
						+tabber-panel()
							.team__container

								.team__slide-arrow.left
									+slide-arrow('left')
								.team__slide-arrow.right
									+slide-arrow('right')

								+teammate("img/team/mihail.jpg", "Михаил Бланк,", "руководитель проекта")
								+teammate("img/team/gadjimurad.jpg", "Гаджимурад Алиев,", "исполнительный директор")
								+teammate("img/team/anna.jpg", "Анна Анохина", "секретарь")
								+teammate("img/team/sabur.jpg", "Сабур Ибрагимов", "PR-менеджер")
								+teammate("img/team/semra.jpg", "Семра Алискерова,", "event-менеджер")
								+teammate("img/team/raisat.jpg", "Раисат Демилаева", "менеджер акселерационных программ")
							
							+incPageTeamDesc()



						//- Менторы
						+tabber-panel()
							.mentor__container#mentorSlider

								.mentor__slide-arrow.left
									+slide-arrow('left')
								.mentor__slide-arrow.right
									+slide-arrow('right')

								+mentor("img/mentors/1.jpg", "Алексей Черняк", "Руководитель и основатель<br>проекта «Учи новое»")
								+mentor("img/mentors/2.jpg", "Алексей Куличевский", "Аналитик по<br> маркетингу в Gett")
								+mentor("img/mentors/3.jpg", "Раджаб Ибрагимов", "Менеджер проектов<br>в компании геперболоид")
								+mentor("img/mentors/1.jpg", "Алексей Черняк", "Руководитель и основатель<br>проекта «Учи новое»")
								+mentor("img/mentors/2.jpg", "Алексей Куличевский", "Аналитик по<br> маркетингу в Gett")
								+mentor("img/mentors/3.jpg", "Раджаб Ибрагимов", "Менеджер проектов<br>в компании геперболоид")


						//- FAQ
						+tabber-panel()
							.faq__container
								h3 «Неудобные» вопросы и честные ответы

								+faq('Вы выбрали для НТИ девять рынков – ЭнергоНет, НейроНет, АэроНет, МариНет и другие. Почему вы начинаете с рынков? Почему «Нет» - почему они так странно называются? Почему именно эти')
									+fishtext()

								+faq('Почему упор делается на создание рынков, а не на развитие науки или технологий?')
									+fishtext()

								+faq('Если я считаю, что вы не учли какой-то важный рынок, могу я выйти со своим предложением? Что нужно, чтобы меня услышали и мое предложение учли в дальнейшей работе?')
									+fishtext()

								+faq('В нашей стране более 80% экономики находится под прямым или косвенным контролем государства - почему вы вообще делаете такой акцент на предпринимателях и рынках?')
									+fishtext()

								+faq('Зачем нам обсуждать новые рынки, если на носу у нас кризис, и нужно будет кормить страну?')
									+fishtext()

								+faq('Где в НТИ место идеи о том, что для глобальной конкурентоспособности страна должна решать глобальные проблемы? Скажем, экологические проблемы или обеспечение населения планеты водой и продуктами питания?')
									+fishtext()

								+faq('Зачем нам развивать новые технологические бизнесы, если под них еще нет рынка? Если они создадут что-то ценное, их купят либо Ростехнологии, либо Google.')
									+fishtext()

								+faq('Мы сделаем 20 дорожных карт развития – а что дальше? Почему вы считаете, что они будут реализованы?')
									+fishtext()


	+footer()