include ../blocks/header/header.jade
include ../blocks/sect-main/sect-main.jade


extends ../layouts/main.jade


block title
    title Пери инновации

block content
    +header()
    
    div.mainOnePage
        +section-index()
        +section-incubator()
        +section-events()
        +section-residents()
        +section-contact()
