extends ../layouts/main.jade


include ../blocks/header/header.jade
include ../blocks/sect-main/sect-main.jade


block title
	title Пери инновации

block content
	+header()
	
	+section-index()
	+section-incubator()
	+section-events()
	+section-residents()