extends ../layouts/main

block title
	title Main Page

block content
	.container
		
		h1
			i.sf.sf-spy
			| Main content

	.container
		.row
			.col-md-4 Hello World
			.col-md-4 Hello World
			.col-md-4 Hello World