.partners__container
	line-height 0
	font-size 0
	letter-spacing -1px
	margin 2rem 0

.partners__item
	display inline-block
	width 20%
	text-align center
	line-height 0
	font-size 0
	padding 0 1rem
	
	img
		max-width 100%
		font-size 1rem
		line-height 1.5
		
	+xs()
		width 100%
		
	+sm()
		width 50%
		
	+md()
		width 20%