.main-contact
    background #fff
    height 100%
	.info
		margin 4rem 0 1rem 0

		> span
			display block
			text-align center
			font-weight regular
			color #222
			font-size 1rem
			line-height 1.5
