.tabber
	display block
	
.tabber__nav
	text-align center
	margin 0
	padding 2rem 0
	text-transform uppercase
		
.tabber__tab
	font-size 1rem
	color #cfcece
	transition all .4s ease
	display inline-block
	vertical-align top
	margin 0 1rem
	cursor pointer
	text-align center
	
	&:hover
		color #777

	&.active
		color black
		

.tabber__panel
	display block
	position relative
	height 0px
	left 0
	width 100%
	z-index 10
	opacity 0
	overflow hidden
	
	&.active
		display block
		z-index 20
		opacity 1
		height auto
		overflow visible
		
.inner-tabs
	display block
	clear both