// Colors
textColor = #222
linkColor = #fff
periRed   = rgb(195,13,32)

// B-Grid
tb-points = 'xs,sm,md,lg'
tb-cols = 12
tb-gap  = 15px
tb-xs   = 767px
tb-sm   = 768px
tb-md   = 992px
tb-lg   = 1200px