include ../blocks/teammate/teammate

mixin incPageTeamDesc()
	+teammate__desc()
		p В 2013 году окончила с отличием ДГТУ. С 2013 по 2014 год работала преподавателем экономических дисциплин на факультете информационных систем ДГТУ. С 2014 по 2015 год работала ассистентом аудитора в ООО «РосФинЭкспертиза», а также преподавателем экономики в ДГМА. 
		p Принимала участие в организации и проведении ХХ Зимних Олимпийских игр «Сочи-2014» в качестве волонтера функции «Обслуживание мероприятий».
		p С февраля 2016 года работаю event-менеджером в бизнес-инкубаторе “ПЕРИ Инновации”. 
		p Пишу диссертацию на тему: “Совершенствование механизма управления ресурсным потенциалом учреждений высшего профессионального образования”. 
		p Верю, что лучшие инвестиции — это инвестиции в образование.
		p В “ПЕРИ Инновации”  отвечаю за организацию мероприятий и комфортное пребывание гостей и посетителей в нашем бизнес-инкубаторе.

	+teammate__desc()
		p Выпускник Дагестанского государственного технического университета. 
		p С 2010 по 2012 год работал менеджером продаж, а позже менеджером проектов в компании Color-IT. В 2012 основал свое интернет-агентство R05 и до прихода в «ПЕРИ Инновации» занимался созданием сайтов и продажей интернет-рекламы. 
		p Гаджимурад отвечает за всю операционную деятельность «ПЕРИ Инновации», от найма и руководства персонала инкубатора до работы с резидентами и организации мероприятий. 
		p Если у вас есть идея проекта или вы хотите сотрудничать с инкубатором, то вам к Гаджимураду.

	+teammate__desc()
		p 5+ лет в стартапах, digital-агентствах и социальных проектах. Если вам нужен совет, как не тратить время на малоприбыльный и немасштабируемый бизнес, то всегда готов с вами встретиться. Проконсультирую по поводу получения инвестиций от институтов развития и частных бизнес-ангелов.

	+teammate__desc()
		p Выпускник Дагестанского государственного университета, отделения журналистики.
		p После окончания университета работал на телевидении и в информационном агентстве РИА «Дагестан». Долгое время был журналистом-фрилансером создавая теле-передачи и документальные фильмы для регионального и окружного телевидения. 
		p В начале 2015 года начал свою работу в PR компании «Посольство Москвы», главной задачей которого, стояло освещение крупных государственных проектов. 
		p В начале 2016 года начал работать в «ПЕРИ Инновации» на должности PR-менеджера.
		p Сабур отвечает за освещение мероприятий, деятельности бизнес-инкубатора и резидентов в СМИ и социальных сетях.

	+teammate__desc()
		p Администратор бизнес-инкубатора «Пери Инновации».
		p Окончила ДГТУ и Правовую академию РД.
		p С 1997 по 2007 год работала старшим инспектором в гос.органах. В 2012 уволилась и уехала в Шотландию учить английский. Решив, что достаточно выучила язык, насмотревшись на мужчин в юбках (килтах) и набегавшись по чужим горам, вернулась в родной Дагестан. Год работала помощником руководителя крупной торговой компании. В 2014 году начала работу в «Пери Инновации». 
		p В инкубаторе отвечаю за:
		ul
			li ведение делопроизводства;
			li переписку;
			li снабжение инкубатора всем необходимым для деятельности;
			li Если у вас какие-то вопросы, предложения, требования – я с радостью вам помогу.



mixin fishtext()
	p.
		Равным образом дальнейшее развитие различных форм деятельности играет важную роль в формировании новых предложений. С другой стороны укрепление и развитие структуры позволяет оценить значение форм развития. Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание дальнейших направлений развития. С другой стороны рамки и место обучения кадров требуют определения и уточнения соответствующий условий активизации. Повседневная практика показывает, что консультация с широким активом влечет за собой процесс внедрения и модернизации направлений прогрессивного развития.