include ../button/button.jade

mixin main-inc__item(num, text)
	.col-lg-3.col-md-3.col-xs-6
		.main-inc__item
			span= num
			span= text

mixin main-inc()
	.main-inc
		.container
			.row
				.col-lg-12.col-xs-12
					h1.title Инкубатор

				.col-lg-10.col-lg-offset-1.col-md-12.col-md-offset-0.col-xs-12.col-xs-offset-0

					.row
						+main-inc__item("7 500", "Участников мероприятия")
						+main-inc__item("514"  , "Заявок на статус резидента")
						+main-inc__item("21"   , "Стартап, получивший поддержку")
						+main-inc__item("40"   , "Менторов предпринимателей")

		.main-inc__buttons
			.container
				.row
					.col-lg-4.col-lg-offset-4.col-xs-12.col-xs-offset-0
						+button("Об инкубаторе", "outline")
