.teammate
	display inline-block
	vertical-align top
	width 16%
	margin 0 8px
	text-align center
	padding-bottom 4rem
	border-bottom 6px solid transparent
	transition border .3s ease
	cursor pointer
	
	+xs()
		width 40%
		margin 0 10px
		padding .5rem
		padding-bottom 1rem
		display inline-block
	+sm()
		width 30%
		padding-bottom 3rem
		margin-bottom 1rem
	+above(1100px)
		width 18%


	&.active
		border-bottom-color #000
		
		+xs()
			border 1px solid #000
			border-bottom 4px solid #000
	

.teammate__photo
	margin-bottom 2rem
	line-height 1
	font-size 0
	width 100%
	min-height 110px
	
	img
		display block
		max-width 100%
		
		+sm()
			width 100%
			
		+xs()
			width 100%
			

.team__slide-arrow
	display block
	position absolute
	top 30%
	margin-top -36px
	z-index 1000
	
	+below(769px)
		display none
	
	&.left
		left (-36px * 1)
		
		+below(1450px)
			left (-36px * 5)
			
		+below(1024px)
			left (-36px * 2)
		
	&.right
		right (-36px * 1)
		
		+below(1450px)
			right (-36px * 5)
			
		+below(1024px)
			right (-36px * 2)


.teammate__info
	height 120px
	
	span
		font 1rem/1.5 'Roboto'
		display block
		padding 0
		
		+sm()
			padding 0 1rem
		+xs()
			font .8rem/1rem 'Roboto'
		
	& :first-child
		font-weight 500
		

.teammate__desc
	margin 0
	padding 0 1rem
	overflow hidden
	height 0
	text-align left
	
	&.active
		margin 1rem 0
		height auto

	p
		margin 0
		font 18px / 27px 'Roboto'
		padding 0 4rem
		
		+xs()
			font 1rem/1.5 'Roboto'
		
	ul
		list-style none
		padding 0 4rem
		
		li
			font 18px / 24px 'Roboto'
			
			&::before
				content '— '
				display inline-block
				vertical-align middle
				margin-right 4px
			

.team__container
	text-align center
	margin-bottom 2rem
	
	&::before
	&::after
		content ''
		position absolute
		display block
		z-index 1000
		width 10rem
		height 100%
		top 0
		
	&:before
		left 0
		background #fff
		background linear-gradient(to right, #fff 50%, transparent)
		
	&::after
		right 0
		background #fff
		background linear-gradient(to left, #fff 50%, transparent)
	
	
.team__container .flickity-page-dots
	bottom -2rem

	+xs()
		bottom -32px

	li.dot
		width 10px
		height 10px
		background #636363
		opacity 1
		transition all 1s ease
		transform perspective(1000) rotateX(0deg)
		border 1px solid transparent
		margin 0 4px

		+xs()
			width 16px
			height 16px

		&.is-selected
			background #fff
			transition all .4s ease
			transform perspective(1000) rotateX(180deg)
			border 1px solid #222
