@font-face {
	font-family: "svgicons";
	src: url('../fonts/svg/svgicons.eot');
	src: url('../fonts/svg/svgicons.eot?#iefix') format('eot'),
		url('../fonts/svg/svgicons.woff') format('woff'),
		url('../fonts/svg/svgicons.ttf') format('truetype'),
		url('../fonts/svg/svgicons.svg#svgicons') format('svg');
}

.sf:before {
	font-family: "svgicons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.sf-spy:before {
	content: "\E001";
}

.sf-square:before {
	content: "\E002";
}

.sf-technology:before {
	content: "\E003";
}