.main-residents
	height 100%
	background #fff
	
	&__slider
		margin 2rem 0 0 0
		
	&__slider-item
		width 100%
	
	&__slider-photo
		width 100%
		object-fit cover
		line-height 1
		font-size 0px
		min-height 400px
		background #ddd
		
		img
			display inline-block
			max-width 100%
			
	.flickity-page-dots
		bottom 0px

		li.dot
			width 10px
			height 10px
			background #636363
			opacity 1
			transition all 1s ease
			transform perspective(1000) rotateX(0deg)
			border 1px solid transparent
			margin 0 4px

			+xs()
				width 24px
				height 24px

			&.is-selected
				background #fff
				transition all .4s ease
				transform perspective(1000) rotateX(180deg)
				border 1px solid #222
