.footer
	display block
	width 100%
	background #fafafa
	position relative
	bottom auto
	
	&--sticked
		position absolute
		bottom 0


.footer__link
	font 12px 'Roboto'
	font-weight 100
	text-transform uppercase
	padding 1rem 0
	text-align center
	
	a
	a:visited
	a:active
		color #cfcece
		display inline-block
		vertical-align middle
		border-bottom 1px solid transparent
		transition all .2s ease
		position relative
		top 2px
		
		&:hover
			color #666
			border-bottom 1px solid #888
	img
		margin-right .5rem
		display inline-block
		vertical-align middle