mixin footer()
	.footer
		.container
			.row
				.col-md-3.col-xs-3
					.footer__link
						a(href="") Contact us
				.col-md-3.col-xs-3
					.footer__link
						img(src="img/icons/socials/tw.png", alt="")
						a(href="") Follow on twitter

						.mob
							img(src="img/icons/socials/tw-big.png", alt="")

				.col-md-3.col-xs-3
					.footer__link
						img(src="img/icons/socials/fb.png", alt="")
						a(href="") Follow on facebook

						.mob
							img(src="img/icons/socials/fb-big.png", alt="")

				.col-md-3.col-xs-3
					.footer__link
						img(src="img/icons/socials/inst.png", alt="")
						a(href="") Follow on instagram

						.mob
							img(src="img/icons/socials/inst-big.png", alt="")

			.row
				.col-md-4.col-md-offset-4.col-xs-4.xsol-xs-offset-4
					.footer__link
						a(href="") Made by moscow