// Element
.search__field
	
	// Modifier
	&--colored
		// color red
				
// Element
.search__button
	
	// Modifier
	&--disabled
		// color red


// Block
.search
	
	// Modifier
	&--small
		
		// Element
		&__field
			@extends .search__field
		
		// Element
		&__button
			@extends .search__button