// Element
.search__field
	
	// Modifier
	&--colored
	


// Element
.search__button
	
	// Modifier
	&--disabled
	


// Block
.search
	
	// Modifier
	&--small
		
		// Element
		&__field
			@extends .search__field
		
		// Element
		&__button
			@extends .search__button