.search__input:input

.search__link:a

.search__button:input

.search
	
	&--hidden

		.search__input:input
			

		.search__link:a
			

		.search__button:input
			

	&--small

		.search__input:input
			

		.search__link:a
			

		.search__button:input
			

